.Dictionary .search-bar,
.Dictionary .search-button {
  border-radius: 5px;
}

.Dictionary form {
  display: flex;
  justify-content: center;
}

.Synonyms {
  padding: 0;
}

.Synonyms li {
  display: inline-flex;
}
